<!DOCTYPE html>
<html lang="en-GB"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107206610-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107206610-1');
</script>
<title>Gerry's World</title>
<!-- <link rel="canonical" href="http://gridbyexample.com/learn/"> -->
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/blogPost.css">
</head>
<body>

<header class="header">
  <div class="wrapper">
    <div class="about">
      <!-- <div class="follow"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="./Get Started with Grid Layout_files/follow_button.861dfa4968a7fc0e69901a06f838af03.en-gb.html" style="position: static; visibility: visible; width: 274px; height: 28px;" data-screen-name="rachelandrew"></iframe><script type="text/javascript" async="" id="gauges-tracker" data-site-id="5923de867218b50718020ae0" data-track-path="https://track.gaug.es/track.gif" src="./Get Started with Grid Layout_files/track.js"></script><script async="" src="./Get Started with Grid Layout_files/widgets.js" charset="utf-8"></script></div> -->
      <h1><a href="/">Gerry's World</a></h1>
      <p>A glimpse into my life</p>
    </div>
  </div>

  <nav class="main">
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/activities">Activities/Experiences</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>

<!-- ********** CONTENT *********** -->
<div class="blogPost">
  <h1>Hello World!</h1>
  <div class="timeStamp">Sept. 3, 2017</div>
  <br/>
  <content>
    LOREM IPSUM
  </content>

</div>
<!-- ********** CONTENT *********** -->

<footer class="footer"><div class="wrapper">
  <pre>
  Gerry Chen
  412-956-3047
  gerry.chen@duke.edu

  Engineering Undergrad at Duke University
  Class of 2019
  </pre>
</div></footer>

<!-- <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5923de867218b50718020ae0');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script> -->

</body>
</html>